.container-footer {
    background-color: #A0BD7B;
    padding: 20px 0;
}

.row-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    flex-wrap: wrap; /* permite quebra de linha */
}

.row-footer img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

/* Responsivo para telas menores */
@media (max-width: 600px) {
    .row-footer {
        gap: 30px; /* reduz o espaçamento entre ícones */
    }

    .row-footer img {
        width: 25px; /* diminui um pouco o tamanho se quiser */
    }
}
