.container-sobre-madu {
    width: 100%;
    background-image: url('/imgs/back-sobre-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 80px;
    font-family: Urbanist;
    color: #2D4909;
    padding-bottom: 0;
}

.row-sobre-madu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.col-esquerda-madu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 40%;
}

.col-direita-madu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

h2 {
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
}

.sobre-madu p {
    text-align: justify;
    margin-bottom: 20px;
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .container-sobre-madu {
        padding: 20px 10px;
        background-image: url('/imgs/back-sobre-phone.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .row-sobre-madu {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .col-esquerda-madu, .col-direita-madu {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 10px; /* Adiciona um pouco de espaçamento interno para os itens */
    }

    .col-esquerda-madu img {
        width: 80%;
        max-width: 180px;
    }

    h2 {
        text-align: center; /* Centraliza o título */
    }

    .sobre-madu p {
        text-align: center; /* Centraliza o texto */
    }
}